@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: var(--fonte1);
}
header {
    background-color: black;
    text-align: center;
    color: #ffffff;
    
}
header > h1 {
    font-family: var(--fonte2); 
    padding-top: 50px;
    font-variant: small-caps;
    font-size: clamp(2rem, 8vw, 5rem);
    
   
}

header > p { 
    padding-bottom: 50px;
    font-weight: light;
    color: white;
    font-size: 1.1vw;
    

}
header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:visited {
    color: white;
}

header a:hover {
    text-decoration: underline;
}
body {
    background-color: #f0f0f0;
}

section > pre {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: clamp(1.1rem, 2.5vw, 2.5rem)
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);

}

section.image { 
    color: white    ;
}

section.image > pre { 
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

#flor {
    background-image: url('../images/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;   
}

#page { 
    background-image: url('../images/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

footer {
    background-color: black;
    font-size: 6px;
    text-align: center;
    color: #ffffff;
    padding: 10px
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:visited {
    color: white;
}
footer a:hover {
    text-decoration: underline;
}